body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

select {
    height: 21px;
}

.total-label {
    font-weight: bold;
}

.amount-field {
    width: 50px;
    height: 15px;
}

.errorMsg {
    background-color: #a20000;
    color: #fff;
    margin-bottom: 15px;
    padding: 10px;
}
